#-------------------#
#-----BLACKLIST-----#
#-------------------#

# Ignore all files by default
*

#------------------#
#-----EXTERNAL-----#
#------------------#
!/.gitignore
!/.gitmodules
!/Readme.md

# Get submodule
!/pass

# Grab shell scripts from bin
!/bin
!/bin/*.sh
